/* overrides docsify style for plugin */
.app-nav {
    margin-right: 120px !important;
}

.app-nav.no-badge {
    margin-right: 85px !important;
}

html.dark section.cover.show {
    background: inherit !important;
}

.docsify-dark-switch {
    position: absolute;
    height: 31px;
    top: 25px;
    right: 60px;
    text-align: right;
    z-index: 11;
}

.docsify-dark-switch:before {
    width: 16px;
    height: 24px;
    margin-top: 4px;
    border-left: 1px solid #e2e2e3;
    content: "";
    float: left;
}

.docsify-dark-switch.no-nav::before {
    content: none;
}

.docsify-dark-switch.fixed {
    position: fixed;
}

.docsify-dark-switch.no-badge {
    right: 25px;
}

.docsify-dark-switch>button {
    position: relative;
    cursor: pointer;
    padding: 0;
    font-family: inherit;
    line-height: inherit;
    color: inherit;

    border-radius: 11px;
    display: inline-block;
    width: 40px;
    height: 22px;
    flex-shrink: 0;
    border: 1px solid #c2c2c4;
    background-color: rgba(142, 150, 170, .14);
    transition: border-color .25s !important;
}

.docsify-dark-switch>button:hover {
    border-color: #3451b2;
}

.docsify-dark-switch>button,
.docsify-dark-switch>button * {
    pointer-events: auto;
}

.docsify-dark-switch .check {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .04), 0 1px 2px rgba(0, 0, 0, .06);
    transition: transform .25s !important;
}

.docsify-dark-switch .icon {
    position: relative;
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    overflow: hidden;
}

.docsify-dark-switch svg {
    position: relative;
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
    fill: rgba(60, 60, 67, .78);
}

/* dark mode */
.docsify-dark-switch.dark:before {
    border-left: 1px solid #6c6f73;
}

.docsify-dark-switch.dark>button {
    border: 1px solid #6c6f73;
    background-color: rgba(101, 117, 133, .16);
}

.docsify-dark-switch.dark>button:hover {
    border-color: #a8b1ff;
}

.docsify-dark-switch.dark .check {
    transform: translate(18px);
    background-color: #000000;
}

.docsify-dark-switch.dark svg {
    fill: rgba(255, 255, 245, .86);
    transition: opacity .25s !important;
}